@charset "UTF-8";
/*------------------------------*\
    #PROJECT NAME
\*------------------------------*/
/**
 * Master SASS file for project.
 */
/**
 *  CONTENTS
 *
 *  SETTINGS........ global variables and config.
 *  FUNCTIONS....... useful sass functions.
 *  MIXINS.......... reusable grouped sass styles.
 *  BASE............ default element styles, headings, links, type.
 *  NAV............. navigation components, menu, breadcrumb.
 *  LAYOUTS......... layout styles, header, sidebar, footer.
 *  MODULES......... custom components, carousel, modals, grids.
 *  THEMES.......... alternate styles, colors and typography.
 */
/*------------------------------*\
    #SETTINGS
\*------------------------------*/
/**
 * Globals
 */
/**
 * Colors
 */
/*------------------------------*\
    #FUNCTIONS
\*------------------------------*/
/*------------------------------*\
    #MIXINS
\*------------------------------*/
/*------------------------------*\
    #BASE
\*------------------------------*/
/**
 * High-, page-level styling.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */
/* line 17, /Users/stevenng/Projects/style-kit/sass/_base.scss */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.5;
  /* [1] */
  background-color: #fff;
  color: #111;
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */ }

/**
 * Links
 */
/* line 30, /Users/stevenng/Projects/style-kit/sass/_base.scss */
a {
  text-decoration: none;
  color: #0074D9; }
  /* line 35, /Users/stevenng/Projects/style-kit/sass/_base.scss */
  a:hover, a:active {
    text-decoration: underline; }

/**
 * Headings
 */
/* line 45, /Users/stevenng/Projects/style-kit/sass/_base.scss */
h1, .alpha {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1; }

/* line 50, /Users/stevenng/Projects/style-kit/sass/_base.scss */
h2, .beta {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333; }

/* line 55, /Users/stevenng/Projects/style-kit/sass/_base.scss */
h3, .gamma {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.71429; }

/* line 60, /Users/stevenng/Projects/style-kit/sass/_base.scss */
h4, .delta {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }

/* line 65, /Users/stevenng/Projects/style-kit/sass/_base.scss */
h5, .epsilon {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333; }

/* line 70, /Users/stevenng/Projects/style-kit/sass/_base.scss */
h6, .zeta {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

/*------------------------------*\
    #NAV
\*------------------------------*/
/*------------------------------*\
    #LAYOUTS
\*------------------------------*/
/*------------------------------*\
    #MODULES
\*------------------------------*/
/*------------------------------*\
    #THEMES
\*------------------------------*/
/*# sourceMappingURL=main.css.map */